<a href="/" style="text-decoration:none; color: #212529;"><h1>Shorten <small class="text-muted">your links</small></h1></a>

<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10"><br><br><br>
		<form method="POST">
			<fieldset>
				<div class="form-group row">
					<div class="col-sm-7">
						<input class="form-control form-control-lg" type="text" placeholder="https://github.com/jason-plainlog/shorten" id="inputLarge" name="url" required="required" value="<%= params['url'] %>">
					</div>
					<div class="col-sm-3" style="padding-left: 0;">
						<input class="form-control form-control-lg" type="password" placeholder="password (optional)" id="inputLarge" name="password">
					</div>
					<button type="submit" class="btn btn-primary col-sm-2">Shorten</button>
				</div>
			</fieldset>
		</form><br>

		<% if @key != "" %>
		<h4>Short Link <small class="text-muted">Available in 30 Days</small> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="<%= url %><%= @key %>"><%= url %><%= @key %></a></h4><br><br>
		<% end %>

		<h4>How it works</h4>
		<div class="row">
			<div class="col-sm-1"></div>
			<p style="font-size: 1.2em;">
				Hash each url into unique, short keys and store them into <a href="https://redis.io">Redis</a> key-value database.<br>
				You can browse all the source codes on github: <a href="https://github.com/jason-plainlog/shorten" target="_blank"> jason-plainlog/shorten</a>.<br>
			</p>
		</div><br>

		<h4>Status</h4>
		<div class="row">
			<div class="col-sm-1"></div>
			<p style="font-size: 1.2em;">
				Hashed <%= @dbsize %> Links
			</p>
		</div><br>

		<h4>Change Logs</h4>
		<div class="row">
			<div class="col-sm-1"></div>
			<p style="font-size: 1.2em;">
				# 2018/1/22 &nbsp;&nbsp; Bugs Fixed and Status Added<br>
				# 2018/1/21 &nbsp;&nbsp; Password Function Added<br>
				# 2018/1/20 &nbsp;&nbsp; Deployed Online
			</p>
		</div><br>

	</div>
	<div class="col-lg-1"></div>
</div>